*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}
.container{
    max-width:1320px;
   
    display:flex;
    flex-wrap: wrap;
    
}
.new-box1{
    width:100%;
    height:70px;
 

}
.ged-box{
    width: 100%;

    
    padding:7px;
}
.zone1{
    color: #364253;
    font-size: 24px;
    font-family: 'Nunito', sans-serif;
    font-weight: normal;
    text-transform: none;
    line-height: 3;
    letter-spacing: normal;
    padding-left: 500px;

}
.container1{
    max-width:1320px;
    border:1px solid red;
    display:flex;
    flex-wrap: wrap;
}
.box2{
    border:1px solid black;
    width:100%;
    height:300px;

}
.homed1{
    height:50px;
    width:100%;
    border:1px solid blue;
    padding:20px;
}
.home1{
    color: #6C798B;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: normal;
    text-transform: none;
    line-height: 1.8;
    letter-spacing: normal;
}
.homed2{
    display: flex;
    flex-wrap:wrap;
  
    height:250px;
    width:100%;
    border:1px solid gainsboro;
}
.home2{
    width:25%;
    height:100%;
    border:1px solid yellow;
}
.container3{
    max-width: 1320px;
    border:1px solid red;
    margin:20px;
    display: flex;
    flex-wrap: wrap;
}
.pro{
    display: flex;
    flex-wrap: wrap;
    height:200px;
    width:100%;
    border:1px solid blue;
   
   
}
.pro1{
    width:25%;
    height:100%;
    border:1px solid black;
}
.container{
    max-width:1320px;
    margin:auto;

}
.d-flex{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.product{
    width:100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    margin:30px;
}
.pro-cart{
   padding:20px;
    width:300px;
   
   
  
}
.pro-img{
 
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
     position: relative;
    
  
}
.pro-price{
   font-weight: lighter;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: normal;
    text-transform: none;
    line-height: 1.8;
    letter-spacing: normal;
}

.pro-img:hover .hide-c{
    opacity: 1;
}
.pro-img:hover .hide-d{
    opacity: 1;
}
.pro-img:hover .hide-e{
    opacity: 1;
}
.pro-img:hover .hide-f{
    opacity: 1;
}
.pro-img:hover .hide-g{
    opacity: 1;
}
.hide-d{
    position: absolute;
    opacity: 0;
    top:120px;
    left:130px;
    border-radius: 50px;
    padding:10px;
    color:white;
    background-color:#EB984E;
    transform: translate(-50%);
}
.hide-d:hover{
    background-color: #f78725;
}

.pro-img:hover .hide-b{
    opacity: 1;
}

.hide-b{
     opacity: 0;
     position: absolute;
    top:150px;
    left:70px;
    border-radius: 50px;
    padding:15px;
    color:red;
    transition: all 2s;
  
}
.hide-c{
    position: absolute;
    opacity: 0;
    top:50px;
    left:70px;
    border-radius: 50px;
    padding:15px;
    color:white;
    text-align: center;
}
.hide-e{
    position: absolute;
    opacity: 0;
    top:170px;
    left:100px;
    border-radius: 50px;
    padding:15px;
    color:white;
}
.hide-g{
    position: absolute;
    opacity: 0;
    top:50px;
    left:60px;
    border-radius: 50px;
    padding:15px;
    color:white;
}
.hide-f{
    position: absolute;
    opacity: 0;
    top:220px;
    left:60px;
    border-radius: 50px;
    padding:15px;
    color:white;
}

.pro-img::before{
    content: " ";
    display:inline-block;

    width:100%;
    height:100%;
    position:absolute;
    background: transparent;
       transition: all 1s;
      
}
.pro-img:hover::before{

    background: rgb(0 0 0 / 59%);
}
b1{
    font-size: 30px;
    color:white;

}
.fa-maximize{
    font-size:20px;
}

.hide-b{
    color:red !important;
}
.img{
    width:100%;
    
}
.img2{
    width:100%;
    padding-top:-6;
}
.pro-img1{
    height:60%;
    width:100%;
   
}
.new-image{
    height:260px;
    width:100%;
}
.pro-d{
    margin-left: 20px;
}
.pro-price{
    padding-top: 20px;
    font-weight: 500;
    padding-left: 20px;

}

.zone{
    height: 900px;
    width:100%;
   
    background-color: #F7F8FA;;
    padding:20px;
    margin:20px;
 
}
.zoned1{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
 
    height:100px;
    padding-top: 50px;
    
  
}
.sixth{
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: normal;
    text-transform: none;
    color: #364253;
    line-height: 1;
    letter-spacing: normal;
}
.zoned2{
    width:100%;
   
    display: flex;
    justify-content: center;
    align-items: center;
  
    height:70px;
   
}
.eight{
    text-align: center;
    color: #6C798B;
}
.zone3{
  
    
    display: flex;
    justify-content: space-between !important;
}
.zonedd2{
 
 
    justify-content: space-between;
    text-align: center;
    align-items: center;
    overflow: hidden;
  
  
    

}
.zonedd3{
 
   
    justify-content: space-between;
    text-align: center;
    align-items: center;
    overflow: hidden;

}
.zonedd4{
 
 
    justify-content: space-between;
    text-align: center;
    align-items: center;
    overflow: hidden;   


}
.img1{
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
   height:500px;
}
.next1{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-transform: none;
    color: #364253;
    line-height: 1.8;
    letter-spacing: normal;
}
.next2{
    color: #6C798B;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: normal;
    text-transform: none;
    line-height: 1.8;   
    letter-spacing: normal;
}
.next3{
    border-radius: 50px;
    padding:10px 35px;
    color:orange;
    vertical-align: middle;
    border-color: orange;
}
.next3:hover{
    background-color: #EB984E;
    color:white;
}
h2{
    text-align: center;
}

.bestseller{
    height:600px;
  
    width:100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
.seller1{
   
    height:100%;
    padding-bottom: 20px;
   
}
.seller2{
  
    height:100%;
   
}
.next4{
    width:100%;
    padding-left:20px;
    height:100%;
    padding-top: 30px;
}
.next5{
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: normal;
    text-transform: none;
    color: #364253;
    line-height: 1.8;
    letter-spacing: normal;
    text-align: center;
    padding-top:100px
}
.next6{
    color: #6C798B;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: normal;
    text-transform: none;
    line-height: 1.8;
    letter-spacing: normal;
    text-align: center;
    padding-top:20px
}
.next8{
  
    text-align: center;
    padding-top: 20px;
}
.next9{
    padding:10px 35px;
    background-color: #EB984E;
    color:white;
    border:none;
    font-size: 14px;
    font-family: lato,sans-serif;
}
.next9:hover{
    background-color: #f78725;
    color:white

}
.pro-dd1{
    padding-top:50px;
}
.pro-d{
  
    color: #6C798B;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: normal;
    text-transform: none;
  
    letter-spacing: normal;
}
.footer{
  background-color: #6C798B;
  
width:100%;
    
}
.footer1{
    
    
    margin:30px;

}
h2{
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: normal;
    text-transform: none;
    color: #364253;
    line-height: 1.8;
    letter-spacing: normal;
}
.d-footer{
    color:white;
    font-size: 25px;
}
.footer-img{
    height:40px;
    
}
.footer-dd{
    padding-top: 30px;
}
.footer-dd1{
    padding-top:30px;
    color:white;
}
.footer-dd2{
    color:white;
}
.footer-dd3{
    padding-top: 30px;
}
.fa-facebook{
    color:white;
    font-size: 20px;
}
.fa-twitter{
    color:white;
    font-size: 20px;
}
.fa-pinterest{
    color:white;
    font-size: 20px;
}
.footer-dd4{
    color:white;
    font-size: 25px;
}
.footer-list{
    padding-top: 30px;
    padding-left:15px;
   
}
.footer-li{
    padding-left: 30px;
    color:white;
}
.footer-dd5{
    font-size: 25px;
    color:white;
}
.footer-dd6{
    height: 30px;
}
button{
    background-color: white;
    color:orange;
   
    padding: 5px;
}
.about-us{
    height:500px;
    width:100%;
    border:1px solid black;
    margin:50px;
}
.about-us1{
    width:40%;
    height:100%;
    border:1px solid black;

}
.about-us2{
    width:60%;
    height:100%;
    border:1px solid blue;
}
.about-d{
    padding-left: 30px;
    padding-top: 50px;
}
.about-dd1{
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: normal;
    text-transform: none;
    color: #364253;
    line-height: 1.8;
    letter-spacing: normal;

}
.about-dd2{
    padding-top:30px;
    color: #6C798B;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: normal;
    text-transform: none;
    line-height: 1.8;
    letter-spacing: normal;
}
.about-dd3{
    padding-top:30px;
    
}
.gedget-zone{
 

    width:100%;
 padding:30px;
 background-color: #F7F8FA;;
}
.gedget-d{
   
    width:100%;
 
    
}
.gedget-d1{
 
   
    width:100%;
}
.gedget-dd1{
    color: #6C798B;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: normal;
    text-transform: none;
    line-height: 3;
    letter-spacing: normal;
    text-align: center;
}
.gedget-dd2{
    color: #6C798B;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: normal;
    text-transform: none;
    line-height: 1.8;
    letter-spacing: normal;
    text-align: center;
}
.new-ged1{
    text-align: center;
    color: #364253;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: normal;
    text-transform: none;
    line-height: 1.8;
    letter-spacing: normal;
}
.new-ged2{
    text-align: center;
    color: #364253;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: normal;
    text-transform: none;
    line-height: 1.8;
    letter-spacing: normal;
}
.new-ged3{
    text-align: center;
}

.new-home{
  height:100px;
  width:100%;
   
}
.new-homed{
    
 width:100%;
    
}
.other-homedd1{
  padding-left: 20px;
 padding-top: 100px;
 line-height: 10;
}
.new-home1{
    padding-bottom: 20px;
    width:100%;
   
    margin:20px;
}
.other-homedd2{
 

    
}
.new-d2{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-transform: none;
    color: #364253;
    line-height: 1.8;
    letter-spacing: normal;
}
.fa-car{
    background-color: #EB984E;
    font-size: 40px;

}
.new-d3{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: normal;
    text-transform: none;
    color: #364253;
    line-height: 1.8;
    letter-spacing: normal;
}
.fa-clock{
    background-color: #EB984E;
    font-size: 40px;   
}
.fa-lock{
    background-color: #EB984E;
    font-size: 40px;
}
.new-seller{
    background-color: #F7F8FA;

}
.new-seller1{
    min-width: 350px;
    max-width: 40%;
}
.new-seller2{
    min-width: 350px;
    max-width: 70%;
    display: flex;
    align-items: center;
}
.other-seller1{
    width: 100%;
}
.seller-img{




}
.dev1{

 width:100%;


}




p2{
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: normal;
    text-transform: none;
    color: #364253;
    line-height: 1.8;
    letter-spacing: normal;
    text-align: center;
    align-items: center;
}

.other-seller1{
   text-align: center;
 

    padding-top: 15%;
    
}
p3{
    color: #6C798B;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: normal;
    text-transform: none;
    line-height: 1.8;
    letter-spacing: normal;
    text-align: center;
}
.other-button{
    border-radius: 0px;
    background-color: #EB984E;
    color:white;
}
.other-button:hover{
    background-color: #f78725;
}
.intro{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

   
   
}
.intro-1{
  width:30%;
  min-width: 300px  
}

.intro-2{
  width:60%;
  min-width: 300px  
}
.introd{
    padding-top: 50px;
    padding-left:100px;
    height:100%;
}
p4{
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: normal;
    text-transform: none;
    color: #364253;
    line-height: 1.8;
    letter-spacing: normal;
}
p5{
    color: #6C798B;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: normal;
    text-transform: none;
    line-height: 1.8;
    letter-spacing: normal;
}
.intro1{
   
   padding-top: 50px;
}
.footer-dd7{
    width:165px;
}
.fa-truck{
    font-size: 20px;
    color:orange;
}
p7{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-transform: none;
    color: #364253;
    line-height: 1.8;
    letter-spacing: normal;
}
p8{
    color: #6C798B;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: normal;
    text-transform: none;
    line-height: 1.8;
    letter-spacing: normal;
}
.ri-id-card-line{
    color:#EB984E;
    font-size: 30px;
}
.ri-admin-fill{
    color:#EB984E;
    font-size: 30px;
}
.fa-cart-shopping{
    color:#EB984E;
    font-size: 30px;
}

.boxes{
    max-width:1320px;
  
    margin:auto;
    scroll-behavior: smooth;
    overflow:hidden;
    padding: 50px;
    padding-top:150px ;
   
  
   }
   .subboxes{
   
    width:5200px;
  
   animation: slider 20s infinite ease-in-out;
    display:flex;
    border-radius: 20%;
    
   }
   @keyframes slider {
    0%{
        margin-left:0px;
    }
 
    25%{
        margin-left:-1300px;
    }
 
    50%{
        margin-left:-2600px;
    }
  
    75%{
        margin-left:-3900px;
    }

    100%{
        margin-left:-5200px;
    }
   }

  
   .ohterbox{
    
    padding: 10px 20px;
    height: 50vh;
    border:1px solid black;
   }
   .box1{
    border:1px solid black;
width:1300px;
    height:60vh;
    background-image:url(https://static.zohocdn.com/sites/stock-images/images/zpstock-image-933.jpg);"
    background-image:linear-gradient(to bottom, rgba(234, 119, 4, 0.3), rgba(234, 119, 4, 0.3));
 
    background-position:center;

   }
   .box2{
    border:1px solid black;
    width:1300px;
        height:60vh;
        background-image:linear-gradient(to bottom, rgba(56, 196, 202, 0.61), rgba(56, 196, 202, 0.61)), url(https://static.zohocdn.com/sites/stock-images/images/zpstock-image-934.jpg);
        background-repeat: no-repeat;
        background-size: cover;
       
       
     }
   .box3{
    border:1px solid black;
    width:1300px;
        height:60vh;
       background-repeat: no-repeat;
       background-size: cover;
       background-image:linear-gradient(to bottom, rgba(213, 96, 115, 0.88), rgba(255, 255, 143, 0.5)), url(https://static.zohocdn.com/sites/stock-images/images/zpstock-image-935.jpg);
   }  
   .box4{
    border:1px solid black;
    width:1300px;
        height:60vh;
       background-repeat: no-repeat;
       background-size: cover;
       background-image: linear-gradient(to bottom, rgba(70, 70, 70, 0.57), rgba(70, 70, 70, 0.57)), url(https://static.zohocdn.com/sites/stock-images/images/zpstock-image-936.jpg);;
   
   }   
   .img-d1{
    padding-top: 200px;
    padding-left: 40px;
   }
   p14{
    color:white;
    font-size: 20px;
   }
   .img-d3{
    text-align: center;
    padding-top: 200px;
   }
   .mainheader{

  height:70px;
  text-align: center;
    margin:auto;
    background-color: white;
    backdrop-filter: blur(8px);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;


}
p23{
    color:white;
    font-size: 50px;;
}
p24{
    text-align: center;
    color:white;
}
.img-d2{
text-align: center;
padding-top: 140px;
}
.setnav{
    position: sticky;
    top: 0px;

}
p16{
    text-align: center;
    color:white;
    font-size: 25px;;
    
}
.p26{
    padding: 10px 35px;
    border-radius: 25px;
}
.p26:hover{
    background-color: #e0edff;
}
p17{
    font-size: 40px;
    color:white;
}
p18{
    text-align: center;
    color:white;
}
.p21{
    color:orange;
    padding: 10px 35px;
    border:none;
    border-color: none;
}
.p21:hover{
    background-color: #e0edff;
}
.mainheader1{
    
    
    height:100%;
   line-height:4;
}
.mainheader2{
    width:80%;
   
    height:100%;
    
}
.img-d{
    padding-top: 150px;
    padding-left: 40px;
}
p10{
    color:white;
    font-size: 40px;
    color: #ffffff;
}
p11{
    color:white;
    font-size: 20px;
    color: #ffffff;

}
.p12{
    border-radius: 250px;
    padding: 20px 45px;
    color:orange;
}
.p12:hover{
    background-color: #f0f5fd;
}
.fa-magnifying-glass{
    font-size:20px;
}
.new-icon{
    color:black;
    font-size: 20px;
}
.new-one{
    color:black;
    text-decoration: none;
}

.link{
    position: absolute;
    top:90%;
    height:20px;
    left:50%;
    width:100px;
    transform: translate(-50%,-50%);
  
    bottom:0%;
    display: flex;
    align-items: center;
    justify-content: space-between;

 

   }

   .link > a{

    font-size: 70px;

   }
   .othera{
    font-size: 50px;
    letter-spacing: 12px;
    text-decoration: none;

 
    color:rgba(0, 0, 0, 0.596)
   }
   .new-two{
    color:black;
   }